@model MVC.Models.medico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>medico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_medico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_medico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.especialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel_medico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_medico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_medico }) |
    @Html.ActionLink("Back to List", "Index")
</p>
